NEXT_PUBLIC_PRIVY_APP_ID=<requester app id>

# If running locally, uncomment & set to host
# that privy is running on (react-auth uses
# this value as an override)
NEXT_PUBLIC_PRIVY_AUTH_URL=<your privy auth url>